<form method="post" action="/encurtarpost">
  <input name="link" type="text" placeholder="digite o seu link aqui..."><br><br>
  <button type="submit"> Obter link </button>
</form>
<br>
<p> <%= encurtado %> </p>
